.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}
page-title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
button,
input {
  /* 1 */
  overflow: visible;
}

.page-title--accent {
  color: #50a8eb;
}

@media (max-width: 576px) {
  .page-title {
  	text-align: center;
    font-size: 25px;
  }
}
/* page-title end */

/* popup start */
.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: slategrey;
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: transform .5s, opacity .5s;
}

.popup.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transition: transform .5s, opacity .5s;

}

.popup__wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}

.popup__content {
  background: #fff;
  padding: 30px 20px;
  max-width: 730px;
  margin: 0 3px;
  position: relative;
  border-radius: 20px;
}

.popup__content--fluid {
  padding-left: 0;
  padding-right: 0;
}

.popup__content--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}

.popup__title {
  margin-bottom: 20px;
}

.popup__subtitle {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.popup__chek__order{
  margin-bottom: 50px;
}

.popup__subtitle--order {
  max-width: 360px;
  margin: 0 auto 40px;
}

.popup__mobile-menu {
  margin-bottom: 30px;
}

.popup__phone {
  margin-bottom: 30px;
}

.popup__link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

/*@media (max-width: 767px) {
  .popup__inner {
    padding: 0;
  }

  .popup__content {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    padding-top: 100px;
  }

  .popup__subtitle {
    font-size: 18px;
  }

  .popup__subtitle--order {
    max-width: 260px;
  }
}*/
/* popup end */
/* order start */
.order {
  max-width: 310px;
  margin: 0 auto;
}

.order__img {
  width: 186px;
  display: block;
  margin: 0 auto 10px;
}

.order__title {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 30px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.order__subtitle {
  margin: 0 0 30px;
  font-family: "Montserrat", sans-serif;
  color: #a2a2a2;
  font-weight: 900;
  text-align: center;
}

.order__size {
  font-family: "Montserrat", sans-serif;
  color: #a2a2a2;
  font-weight: 900;
  margin: 0 auto 30px;
  text-align: center;
}
/* order end */
/* btn-close start */
.btn-close {
  /*position: relative;*/
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
/*  transition: transform 1s, opacity 1s;*/
}

.btn-close:hover {
  transform: scale(1.1);
}

.btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.btn-close::before,
.btn-close::after {
  content: "";
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  position: absolute;
  border: 10px;
  top: 50%;
}

.btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}

.btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}
/* btn-close end */
.no-scroll {
  overflow: hidden;
  transition: transform .1s, overflow .1s;
}

/* form start */
.form__input {
  display: block;
  width: -webkit-fill-available;
  padding: 10px 12px;
  background: #f7f7f7;
  border-radius: 32px;
  margin-bottom: 8px;
  border: 2px solid transparent;
  outline: none;
  font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.form__input:focus {
  border-color: #50a8eb;
}
.form__input {

  color: #a2a2a2;
}
.form__btn {
  box-shadow: none;
  width: 100%;
  background: #50a8eb;
  padding: 10px 28px;
  margin-bottom: 5px;
  margin-top: 32px;
  border-radius: 50px;
}
/* form end */

/* cart start */
.cart__info {
  text-align: center;
  font-size: 24px;
}

.cart__table {
  width: 100%;
}

.cart__empty {
  display: none;
}

.js-cart-wrapper.is-empty .cart__empty {
  display: block;
}

.js-cart-wrapper.is-empty .cart__form {
  display: none;
}

.cart__item {
  margin-top: 20px;
}

.cart__totals {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cart__bold {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}
/* cart end */
/* cart-item start */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.cart-item__main {
	width: 100%;
  
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.cart-item__content {
	width: 100%;
}
.cart-item__end {
  align-items: center;
  display: flex;
}

.cart-item__actions {
  display: flex;
  align-items: center;
}

.cart-item__title {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.cart-item__img-wrapper {
  flex-shrink: 0;
  margin-right: 20px;
}

.cart-item__start {
  margin-right: 14px;
  color: #a2a2a2;
}

.cart-item__img {
  width: 150px;
}

.cart-item__attribute {
  margin: 5px 0 0;
}

.cart-item__btn {
  border-radius: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.cart-item__btn {
  border-radius: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border: 2px solid #50a8eb;
  color: #50a8eb;
  font-weight: 900;
  font-size: 14px;
  transition: background .2s, opacity .2s;
}

.cart-item__btn:active {
  opacity: .5;
}

.cart-item__btn:hover {
  background: #50a8eb;
  color: #fff;
}

.cart-item__btn--remove:hover::before,
.cart-item__btn--remove:hover::after {
  background: #fff;
}

.cart-item__btn--remove::before,
.cart-item__btn--remove::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 15px;
  top: 50%;
  left: 6px;
  margin-top: -1px;
  background: #50a8eb;
  transition: bacgkround .2s;
}

.cart-item__btn--remove::before {
  transform: rotate(45deg);
}

.cart-item__btn--remove::after {
  transform: rotate(-45deg);
}

.cart-item__quantity {
  padding: 0 10px;
  display: inline-block;
}

.cart-item__price {
  margin: 0 0 0 15px;
  min-width: 80px;
  text-align: right;
}

@media (max-width: 276px) {
  .cart-item {
  	  display: flex;
    flex-direction: row;
    text-align: center;
/*    flex-direction: column;
    text-align: center;*/
    padding-bottom: 20px;
  }

  .cart-item__main {
    padding-right: 0;
    display: block;
  }

  .cart-item__start {
  	color: #a2a2a2;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .cart-item__end {
    display: block;
  }

  .cart-item__actions {
    margin-bottom: 10px;
  }

  .cart-item__content {
    margin-bottom: 10px;
  }
  
  .cart-item__price {
    margin-left: 0;
    text-align: center;
    min-width: 0;
  }

  .cart-item__img-wrapper {
    margin-right: 0;
  }

  .cart-item__btn--remove:not(:hover) {
    border-color: #ccc;
  }

  .cart-item__btn--remove::before,
  .cart-item__btn--remove::after {
    background: #ccc;
  }
}
/* cart-item end */

/* cart-btn start */
.cart-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 -2px 20px rgba(0,0,0,.15);
  z-index: 5;
  transition: transform .2s, opacity .2s;
  padding: 0;
}

.cart-btn:hover {
  transform: scale(1.1);
}

.cart-btn:active {
  opacity: .6;
  transform: scale(1);
}

.cart-btn:hover .cart-btn__icon {
  fill: #50a8eb;
}

.cart-btn__counter {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0px, -10px);
  background: #50a8eb;
  min-width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}

.cart-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  transition: fill .2s;
}

@media (max-width: 576px) {
  .cart-btn {
    right: 30px;
    bottom: 30px;
    width: 80px;
    height: 80px;
  }

  .cart-btn__icon {
    width: 30px;
    height: 30px;
  }

  .cart-btn__counter {
    font-size: 12px;
    min-width: 25px;
    height: 25px;
    transform: translate(0, -5px);
  }
}
/* cart-btn end */

/*.vacs-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 -2px 20px rgba(0,0,0,.15);
  z-index: 5;
  transition: transform .2s, opacity .2s;
  padding: 0;
}*/

.vacs-btn:hover {
  transform: scale(1.1);
}

.vacs-btn:active {
  opacity: .6;
  transform: scale(1);
}

.vacs-btn:hover {
  fill: #50a8eb;
}
